html {
  font-size: 1rem;
}

.fazer__pedido {
  width: 10rem;
}

.image__banner {
  object-fit: cover;
}

#btn-card-1 {
  visibility: hidden;
  padding: 10px;

  background: #2A3342;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #F6F5FB;
}

#btn-card-2 {
  visibility: hidden;
  padding: 10px;

  background: #2A3342;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #F6F5FB;
}

#btn-card-3 {
  visibility: hidden;
  padding: 10px;

  background: #2A3342;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #F6F5FB;
}

#btn-card-4 {
  visibility: hidden;
  padding: 10px;

  background: #2A3342;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #F6F5FB;
}


.blur-modal-2 {
  background: rgba(217, 217, 217, 0.7);

  width: 100%;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  display: none;
  place-items: center;
}

.modal-intern {
  /* display: none; */
  position: absolute;
  width: 500px;
  height: 400px;
  left: 40%;
  top: 30%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
}

.close-button-modal-2 {
  text-align: end;
  background-color: #FFFFFF;
  border: none;
}

.close-button-modal-2 button {
  text-align: center;
  border: none;
  background-color: #FFFFFF;
}

.close-button-modal-2 button:hover {
  background-color: #e65b5b;
  border-radius: 12px;
}

.information-modal-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-modal-2 h2 {
  font-size: 25px;
  color: #000000;
}

.information-modal-2 p {
  margin-top: 20px;
  width: 80%;
  text-align: center;
  align-items: center;
}

.information-modal-2 a {
  text-align: center;
  align-items: center;
}

.phone-modal-2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 260px;
  height: 36px;
  margin-top: 15px;

  background: #FFFFFF;
  border: 1px solid #f0721d;
  border-radius: 36px;

  font-size: 20px;
  color: #f0721d;
  text-decoration: none;
}

.phone-modal-2:hover {
  background: #f0721d;
  color: #FFFFFF;
}

.sms-modal-2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 260px;
  height: 36px;
  margin-top: 15px;

  background: #FFFFFF;
  border: 1px solid #3651ee;
  border-radius: 36px;

  font-size: 20px;
  color: #3651ee;
  text-decoration: none;
}

.sms-modal-2:hover {
  background: #3651ee;
  color: #FFFFFF;
}

.whats-modal-2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 260px;
  height: 36px;
  margin-top: 15px;

  background: #FFFFFF;
  border: 1px solid #129c29;
  border-radius: 36px;

  font-size: 20px;
  color: #129c29;
  text-decoration: none;
}

.whats-modal-2:hover {
  background: #129c29;
  color: #FFFFFF;
}

main,
nav {
  background: #f6f5fb !important;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 0.8rem;
  }
}